body {
  background: url(../img/background.jpg);
  font-family: 'Lato', sans-serif;
}
.container {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
}
.bgcolor {
  background-color: white;
}
.top-nav ul {
  list-style: none;
}
.top-nav ul a {
  text-decoration: none;
  display: inline-block;
  color: #619f14;
  padding: 10px 15px;
  transition: 0.5s all ease;
}
.top-nav ul li a:hover {
  color: #000;
}
.ban {
  background-color: #619f14;
  color: #fff !important;
}
.top-nav {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 60px;
}
.social-icon p {
  color: #663e9e;
  font-weight: 700;
  padding: 5px 20px;
  margin-right: 25px;
}
.social-icon i {
  color: #619f14;
  font-size: 25px;
  margin-left: 45px;
  transition: 0.5s all ease;
}
.social-icon i:hover {
  color: #000;
}
.navbar {
  background-color: #619f14;
}
.navbar ul li a {
  color: #fff;
}
.navbar ul li a:hover {
  background-color: #effedc;
}
.dropdown-menu {
  background-color: #619f14;
}
@media (max-width: 576px) {
  .social-icon {
    display: none;
  }
}
.runtext {
  border: 1px solid #662d91;
  color: #662d91;
  font-weight: bold;
  border-radius: 10px;
}
.runtext marquee {
  display: block;
}
.box {
  box-shadow: 0px 2px 21px 1px #000;
  background-color: #fff;
  padding: 10px;
}
.step a {
  color: #662d91;
  font-weight: bold;
  text-decoration: none;
}
.step a:hover {
  text-decoration: underline;
}
.boxx {
  border: 2px solid #619f14;
  padding: 20px 25px;
}
.box-area i {
  position: relative;
  bottom: 50px;
  left: 70px;
  border: 2px solid #619f14;
  padding: 20px;
  border-radius: 50px;
  background-color: #fff;
  font-size: 20px;
  color: #619f14;
}
.box-area p {
  color: #619f14;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
}
.buy {
  /* padding: 10px 120px; */
  padding: 10px;
  border: 1px solid #619f14;
  color: #619f14;
  font-size: 16px;
}
.buy:hover {
  background-color: #619f14;
  color: #fff;
  cursor: pointer;
}
.bigfoot span {
  background-color: #619f14;
  padding: 10px 40px;
  display: block;
  font-size: 20px;
  color: #fff;
  text-align: center;
}
.footer {
  background-color: #3b3b3b;
  color: #979797;
}
.warp {
  background-color: #619f14;
}
.footmenu {
  list-style: none;
  padding: 0;
}
.footmenu li {
  float: left;
}
.footmenu li a {
  font-size: 15px;
  text-decoration: none;
  color: #979797;
  display: inline-block;
  margin-left: 5px;
  transition: 0.5s all ease;
}
.footmenu li a:hover {
  text-decoration: underline;
  color: #fff;
}
address {
  font-size: 15px;
}
.bgcolorbot {
  background-color: #303030;
  color: #fff;
}
.bottomfoot p {
  font-size: 15px;
  display: inline;
}
@media (max-width: 576px) {
  .box-area i {
    position: relative;
    bottom: 50px;
    left: 200px;
    border: 2px solid #619f14;
    padding: 20px;
    border-radius: 50px;
    background-color: #fff;
    font-size: 20px;
    color: #619f14;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .box-area i {
    position: relative;
    bottom: 50px;
    left: 90px;
    border: 2px solid #619f14;
    padding: 20px;
    border-radius: 50px;
    background-color: #fff;
    font-size: 20px;
    color: #619f14;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .box-area i {
    position: relative;
    bottom: 50px;
    left: 50px;
    border: 2px solid #619f14;
    padding: 20px;
    border-radius: 50px;
    background-color: #fff;
    font-size: 20px;
    color: #619f14;
  }
}
@media (max-width: 768px) {
  .textcenter {
    display: flex;
    justify-content: center;
  }
}
